<%- include ('_codigoPedazos/inicioDashboard.ejs') -%>


<style>
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
  }

  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
  }

  .file-upload-content {
    display: none;
    text-align: center;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }

  .image-upload-wrap {
    border: 4px dashed #355ccc;
    position: relative;
  }

  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #355bcc42;
    border: 4px dashed #355ccc;
  }

  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #355ccc;
    padding: 12px 0;
  }

  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }

  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #ff0b8b;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #c20567;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }

  .remove-image:hover {
    background: #e90a7d;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .remove-image:active {
    border: 0;
    transition: all 0.2s ease;
  }
</style>
<%- include ('_codigoPedazos/alertasMensaje.ejs') -%>
<div class="container-fluid" id="_contenidoCambiante">
  <div class="col-12">
    <div class="card shadow">
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary">
          <i class="fas fa-fw fa-plus-circle"></i> Agregar producto
        </h6>
      </div>
      <div class="card-body">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <div class="input-group mb-3 col-12">
                <div class="input-group-prepend" style="width: 42px;">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-cube"></i>
                  </span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  autofocus
                  required
                  autocomplete="off"
                  name="nombre"
                  placeholder="Nombre del producto"
                  aria-label="nombre"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="input-group mb-3 col-lg-12 col-12 col-md-12">
                <div class="input-group-prepend" style="width: 42px;">
                  <label class="input-group-text" for="">
                    <i class="fa fa-archive"></i>
                  </label>
                </div>
                <select class="custom-select" name="rubro" id="" required>
                  <option value="" selected disabled>Selec. rubro...</option>
                  <option value="Pesca">Pesca</option>
                  <option value="Limpieza">Limpieza</option>
                  <option value="Seguridad">Seguridad</option>
                </select>
              </div>
              <div class="input-group mb-3 col-lg-12 col-12 col-md-12">
                <div class="input-group-prepend" style="width: 42px;">
                  <label class="input-group-text" for=""
                    ><i class="fa fa-cubes"></i
                  ></label>
                </div>
                <select class="custom-select" name="linea" id="" required>
                  <option value="" selected disabled>Selec. línea...</option>
                  <option value="Dewall">Dewall</option>
                  <option value="Norton">Norton</option>
                  <option value="Schnider">Schnider</option>
                </select>
              </div>
              <div class="input-group mb-3 col-lg-12 col-12 col-md-12">
                <div class="input-group-prepend" style="width: 42px;">
                  <label class="input-group-text" for="">
                    <i class="fa fa-paint-brush"></i>
                  </label>
                </div>
                <select class="custom-select" name="color" id="" required>
                  <option value="" selected disabled>Selec. color...</option>
                  <option value="Rojo">Rojo</option>
                  <option value="Amarillo">Amarillo</option>
                  <option value="Verde">Verde</option>
                </select>
              </div>
              <div class="input-group mb-3 col-lg-12 col-12 col-md-12">
                <div class="input-group-prepend" style="width: 42px;">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-money-bill"></i>
                  </span>
                </div>
                <input
                  step="0.01"
                  type="number"
                  class="form-control"
                  name="precio"
                  required
                  placeholder="Precio"
                  aria-label=""
                  aria-describedby="basic-addon1"
                />
               
              </div>
              <div class="input-group mb-3 col-lg-12 col-12 col-md-12">
                <button type="sumbit" class="btn btn-primary col-12">
                  Registrar
                </button>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="file-upload col-12 mb-3">
                <div class="image-upload-wrap">
                  <input
                    class="file-upload-input"
                    name="image"
                    id="archivo"
                    required
                    type="file"
                    onchange="readURL(this);"
                    accept="image/*"
                  />
                  <div class="drag-text">
                    <h3 style="font-size: 14px; font-weight: 900;">
                      <%- include ('_codigoPedazos/recursoSVG/uploadImage.ejs')
                      -%>
                      <br />
                      seleccionar imagen
                    </h3>
                  </div>
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" capture="user" src="#" alt="Tu foto" />
                  <div class="image-title-wrap">
                    <button
                      type="button"
                      onclick="removeUpload()"
                      class="remove-image"
                    >
                      Quitar <span class="image-title">Uploaded Image</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12"></div>
</div>

<%- include ('_codigoPedazos/finalDashboard.ejs') -%> <%- include
('_codigoPedazos/jsPaginas.ejs') -%>
<script>
  // if(document.getElementById('_msgAlert')){
  //    setTimeout(()=>{
  //   document.getElementById('_msgAlert').classList.toggle('fade')
  // },2000)
  // }
   

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $(".image-upload-wrap").hide();

        $(".file-upload-image").attr("src", e.target.result);
        $(".file-upload-content").show();

        $(".image-title").html(input.files[0].name);
        //   console.log(input.files[0].name)   NOMBRE DE LA FOTO
      };

      reader.readAsDataURL(input.files[0]);
    } else {
      removeUpload();
    }
  }

  function removeUpload() {
    $(".file-upload-input").replaceWith($(".file-upload-input").clone());
    $(".file-upload-content").hide();
    $(".image-upload-wrap").show();
    document.getElementById('archivo').value = ''
  }
  $(".image-upload-wrap").bind("dragover", function () {
    $(".image-upload-wrap").addClass("image-dropping");
  });
  $(".image-upload-wrap").bind("dragleave", function () {
    $(".image-upload-wrap").removeClass("image-dropping");
  });
</script>
<%- include ('_codigoPedazos/cierraHtml.ejs') -%>
